{
  // code for removing console from app while building ->
  "plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]],
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
  // code for adding babel enviorment to react code ->
  // "presets": [
  //     ["@babel/preset-env", { "targets": { "node": "current" } }],
  //     ["@babel/preset-react", { "runtime": "automatic"}]
  // ]
}
